* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    align-items: center;
    
}

form {
    position: absolute;
    border: 1px solid;
    width: 60%;
    max-height: 100%;
    max-width: 70%;
}


#title {
    text-align: center;
    padding: 1rem;
}

.sub-title {
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
}
#cadastros {
    padding: 0.5rem;
    left: 20%;
    top: 15%;

}

p > label {
    font-size: 16px;
    font-weight: bold;
    padding: 0.2rem;

}

p input{
    display: flex;
    margin: 0.5rem;
    padding: 0.2rem;
    width: 20%;
}

.tipoDespesa{
    font-size: 16px;
    font-weight: bold;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

#addMeBnt {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    left: 20%;
    position: relative;
    color: white;
    background-color: green;
    border-radius: 0.2rem;
    border: none;
}

#dispesas-list{
    list-style: none;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bold;
    
}

