* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    padding: 20px;
    align-items: center;
    background-color: rgb(68, 96, 255);
}

form {
  width: 80%;
  background-color: rgba(118, 170, 157, 0.747);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}


#title {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.sub-title {
    text-align: center;
    padding: auto;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#cadastros {
    padding: 0.5rem;
    left: 20%;
    top: 15%;

}

.infor-dispesa {
    align-items: center;
}

.infor-dispesa, label {
    font-size: 16px;
    font-weight: bold;
    padding: 0.2rem;

}

p input{
    display: flex;
    margin: 0.5rem;
    padding: 0.2rem;
    width: 20%;
}

.tipoDespesa{
    font-size: 16px;
    font-weight: bold;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

#addMeBnt {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    left: 10%;
    position: relative;
    color: white;
    background-color: green;
    border-radius: 0.2rem;
    border: none;
}

hr {
    height: 2px;
    background-color: rgb(5, 55, 61);
    border-color: rgb(142, 233, 233);
  }

#dispesas-list{
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;

    text-align: left;

}

